.nav-pagination {
    height: 100%;
    background: snow;
}

.nav-pagination > ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.nav-pagination button {
    background: #F5F5F5 0% 0% no-repeat padding-box;
    border: 1px solid #E5E5E5;
    color: black;
    width: 40px;
    height: 32px;
    text-decoration: none;
}

button:hover {
    background-color: #5DAFFF;
}

button:focus {
    background-color: #167ABC;
    color: snow;
}