
.hero-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 1rem;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  padding: 0 5rem;
}

.hero-table .hero-table-header {
  text-align: left;
  letter-spacing: 0px;
  color: #8E8E8E;
}

.hero-table .hero-table-content {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 5px #00000033;
  border-radius: 4px;
  text-align: left;
}

.hero-table .hero-table-content:hover {
  box-shadow: 0px 0px 5px 5px #00000033;
}

.hero-table .hero-table-content .hero-table-content-img{
  display: flex;
  align-items: center;
  padding: 1rem;
}

.hero-table .hero-table-content .hero-table-content-img .hero-table-content-name{
  margin-left: 5rem;
  color: #555555;
}

.hero-table .hero-table-detail {
  border-collapse: separate;
  display: flex;
  align-items: center;
  color: black;
  background-color:white;
  text-align: left;
  border-radius: 4px;
  padding: 2rem
}

.hero-table .hero-table-detail td, th{
  padding-right: 3rem;
}

.hero-table-detail-url{
  display: flex;
  flex-direction: column;
}

.link {
  background: #F5F5F5 0% 0% no-repeat padding-box;
  border: 1px solid #E5E5E5;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  color: black;
}

.link:hover {
  background-color: #5DAFFF;
}